#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);


.font_logo {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: solid;
    position: relative;
    right: 730px;
    margin-top: 8px;
}



/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {

    .font_logo {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: solid;
        right: 120px;
        position: relative;
    }
}

.column {
    margin-bottom: 16px;
    padding: 0 8px;
    margin-top: 20px;

}

/* thiết lập chiều dài cột khi màn hình nhỏ hơn 650px*/
@media screen and (max-width: 650px) {
    .column {
        width: 100%;

    }
}

/* thêm shadow cho class card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.num {
    background-color: #FEFEF7;
}

.num_AC {
    background-color: #F5F77B;
}

/* .button {
    margin-top: 20px;
    outline: 0;
    padding: 2px;
    text-align: center;
    cursor: pointer;

} */

* {
    box-sizing: border-box;
    font-size: 16px;
}

form table {
    width: 100%;
    border-collapse: collapse;
}

form table tr,
form table td {
    border: 2px solid #72725F;
}




form table tr td li {
    height: 100%;
    list-style: none;
}

form table li {
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #B7B7B7;
    border: 0;
    font-size: 16px;
}

form table li:focus {
    outline: none;
    background: #B7B7B7;
    color: #fff;
}

form table li:hover {
    background: #eee;
    transition: all .2s ease-in-out;
    box-shadow: 1px 1px 2px 3px gray;
    cursor: pointer;

}

form table input.operator {
    font-weight: 700;
    color: #fff;
    background: #ffcc00;
}



.inp {
    width: 100px;
}

.return {
    margin-right: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
}

.update {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    width: 80px;
}

.storage {
    margin-right: 20px;
}

.upload {
    margin-right: 20px;
}

file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}


.file-upload-content {
    display: none;

}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}






.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}

.remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.remove-image:active {
    border: 0;
    transition: all .2s ease;
}

/* #tb_number{

    
} */
#table1 {
    display: none;
}
